body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    transition: 1.2s;
}

.container {
    text-align: center;
    background: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 20px;
    border: solid rgb(0, 0, 0);
}

h1 {
    margin-bottom: 10px;
    color: #333;
    font-size: xx-large;
}

#colorDisplay {
    font-size: x-large;
    margin-bottom: 30px;
    color: #666;
    min-height: 36px;
}

.color-palette {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: center;
}

.color-box {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    cursor: pointer;
    border: solid rgb(0, 0, 0);
}

.color-box:hover {
    transform: scale(1.2);
    transition: 0.5s;

}

#resetBtn {
    padding: 12px 30px;
    font-size: medium;
    background-color: #333;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

#resetBtn:hover {
    transform: scale(1.2);
    background-color: #4b4949;
}