body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 20px;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 20px;
    max-width: 600px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-size: xx-large;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

#taskInput {
    flex: 1;
    padding: 15px;
    font-size: large;
    border: 2px solid #ddd;
    border-radius: 10px;
}

#taskInput:focus {
    outline: none;
    border-color: #667eea;
}

#addBtn {
    padding: 15px 30px;
    font-size: large;
    background-color: #667eea;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

#addBtn:hover {
    background-color: #764ba2;
    transform: scale(1.1);

}

#taskList {
    list-style: none;
    padding: 0;
}

#taskList li {
    background: #f8f9fa;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    border: solid #000000;
}

.delete-btn {
    background: none;
    border: none;
    font-size: x-large;
    cursor: pointer;
    color: #e74c3c;
}

.delete-btn:hover {
    transform: scale(1.2);
}