body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 20px;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 20px;
    max-width: 600px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 35px;
    color: #333;
    font-size: xx-large;
}

#profileCard {
    background: #667eea;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

#profileImage {
    width: 150px;
    height: 170px;
    border-radius: 50%;
    object-fit: scale-down;
    border: 5px solid white;
    margin: auto;
}

#profileName {
    font-size: xx-large;
    margin-bottom: 10px;
}

#profileDescription {
    font-size: large;
    opacity: 0.9;
}

.editor {
    background: #f8f9fa;
    padding: 30px;
    border-radius: 15px;
}

.input-group {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: large;

}

.input-group input[type="text"]:focus {
    outline: none;
    border-color: #667eea;
}

